*, html{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    overflow: hidden;
}
.full{
    justify-content: center;
    text-align: center;
}
.full img{
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
}
.full .logo{
    float: left;
    margin-left: 20pt;
}
.full .logo img{
    position: relative;
    height: 40pt;
    width: auto;
    border-radius: 70%;
    margin-top: 30pt;
}
.full .dalam{
    position: absolute;
    height: 80vh;
    width: 80%;
    background-color: whitesmoke;
    margin: auto;
    justify-content: center;
    text-align: center;
    border-radius: 10%;
}
.full .dalam .kiri{
    float: left;
    background-color: #6499E9;
    height: 100%;
    width: 50%;
}
.full .dalam .kiri img{
    position: relative;
    height: 200pt;
    width: 200pt;
    border-radius: 70%;
    margin-top: 30pt;
}
.full .dalam .kiri h1{
    font-family: 'Montserrat', sans-serif;
    margin-top: 20pt;
    font-size: 20pt;
    margin-bottom: 20pt;
}
.full .dalam .kiri p{
    font-family: 'Montserrat', sans-serif;
}
.full .dalam .kiri h2{
    margin-top: 20pt;
    font-family: 'Montserrat', sans-serif;
}
.full .dalam .kiri a{
    position: relative;
    text-decoration: none;
    background-color: #9EDDFF;
    padding: 15pt;
    border-radius: 45%;
    color: black;
}
.full .dalam .kanan h1{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 20pt;
    margin-left: 20pt;
    margin-top: 20pt;
}
.full .dalam .kanan ul{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}
.full .dalam .kanan ol{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}
.full .dalam .kanan h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;
    text-align: left;
    margin-left: 20pt;
    margin-top: 20pt;
}
.full .dalam .kanan .social{
    float: left;
    margin-left: 10pt;
    margin-top: 40pt;
}
.full .dalam .kanan .social img{
    height: 40pt;
    width: auto;
    position: relative;
    margin-left: 10pt;
}